<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-start" style="min-height: 80vh; padding-top: 80px;">

    <div class="col-md-5">

        <div class="card shadow p-4">

            <h3 class="text-center mb-4">Add Marks</h3>

            <form method="POST">
                {% csrf_token %}

                <select name="student" class="form-control mb-3" required>
                    <option value="">Select Student</option>
                    {% for s in students %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select>

                <select name="subject" class="form-control mb-3" required>
                    <option value="">Select Subject</option>
                    {% for sub in subjects %}
                        <option value="{{ sub.id }}">{{ sub.name }}</option>
                    {% endfor %}
                </select>

                <input type="number" name="marks"
                       placeholder="Enter Marks"
                       class="form-control mb-3" required>

                <button class="btn btn-dark w-100">Save</button>

                <a href="/students/" class="btn btn-secondary w-100 mt-2">Back</a>

            </form>

        </div>

    </div>

</div>

{% endblock %}


</body>
</html>